<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


    <!-- Used during development -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} [%x] %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <!--
        <logger name="org.hibernate.SQL">
           <level value="debug"/>
           <appender-ref ref="consoleAppender"/>
       </logger>

       <logger name="org.hibernate.type">
           <level value="trace"/>
           <appender-ref ref="consoleAppender"/>
       </logger>
    -->

    <root>
        <priority value="debug"/>

        <!-- In production this should be the nullAppender. The switch is made by maven during the release build. -->
        <appender-ref ref="consoleAppender"/>
    </root>
</log4j:configuration>
